<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <InputDefaultBindingsFixApplied>true</InputDefaultBindingsFixApplied>
    <ShowMenuFixApplied>true</ShowMenuFixApplied>
    <MenuUpdateVersion>0</MenuUpdateVersion>
    <Volume>55</Volume>
    <RecentFiles>
        <string>D:\Sandavimala\subscribe.mp4</string>
    </RecentFiles>
    <WindowLocation>
        <X>0</X>
        <Y>0</Y>
    </WindowLocation>
    <WindowPosition>
        <X>959</X>
        <Y>509</Y>
    </WindowPosition>
    <WindowSize>
        <Width>1097</Width>
        <Height>617</Height>
    </WindowSize>
    <AudioDevice />
    <ConfigEditorSearch>Video:</ConfigEditorSearch>
    <Mute>no</Mute>
    <StartupFolder />
</AppSettings>